- body_classes << "reversed"

- if AuditEvent.first
  - first_event = AuditEvent.first.created_at
  :javascript
    DatePicker.CONFIG['show_helper_text'] = false;
    DatePicker.CONFIG['start_date'] = new Date(#{first_event.strftime("%Y")},#{first_event.strftime("%m").to_i - 1},#{first_event.strftime("%d")});
    DatePicker.CONFIG['end_date'] = new Date();

%h1= "Audit Log for #{params[:date].strftime("%B %d, %Y")}"

.outset
  = render :partial => "results_table"
  
#actions
  = render :partial => "date_navigation"
  = will_paginate @audits, :prev_label => "Previous", :next_label => "Next"
  = render :partial => "filter_options"
  
= render :partial => "print_styles"