%h1 Audit Log

#tabs-wrapper.AdminTabSet
  %ul#report-tabs.AdminTabNav
    %li.Selected
      %span Browse by Date
    %li= link_to "Custom Report", report_admin_audits_path
  .ClearFix <!-- do not remove -->
.ClearFix <!-- do not remove -->

%h2#current-date.Block= @startdate.strftime("%B %d, %Y")

= render :partial => "date_filter"
= render :partial => "quick_filter" unless @audits.size == 0
  
%table#audit-results.index
  %thead
    %tr
      -@params_to_pass[:direction] = @params_to_pass[:direction] == 'desc' ? 'asc' : 'desc'
      %th= link_to "Date / Time", admin_audits_path + "?" + @params_to_pass.to_param
      %th= "IP Address"
      %th= "User"
      %th= "Event Type"
      %th= "Message"
  %tbody
    - if @audits.size == 0
      %tr
        %td.Placeholder{ :colspan => 5 }
          %p= "No events that match the criteria exist for this day."
    - else
      -@audits.each do |a|
        %tr
          %td= a.created_at.to_s(:mdy_time)
          %td= a.ip_address
          %td= a.user.nil? ? "(Unknown)" : a.user.login
          %td= a.event_type
          %td= a.log_message

.Bottom= will_paginate @audits, :previous_label => "Previous", :next_label => "Next"