%h1 Audit Log

#tabs-wrapper.AdminTabSet
  %ul#report-tabs.AdminTabNav
    %li= link_to "Browse by Date", admin_audits_path
    %li.Selected
      %span Custom Report
  .ClearFix <!-- do not remove -->
.ClearFix <!-- do not remove -->

%h2.Block Custom Report

- form_tag report_admin_audits_path, :method => "get", :id => "audit_filter_form", :class => "BlockForm" do
  %fieldset#custom-report-fieldset

    %legend Report Query

    %table
      %col{ :width => "50%" }
      %col{ :width => "25%" }
      %col{ :width => "25%" }
      %tbody
        %tr
          %td
            %label{ :for => "after" } Date Range
            = text_field_tag :after, params[:after], :class => 'DatePicker'
            %label.Smaller{ :for => "before" } to
            = text_field_tag :before, params[:before], :class => 'DatePicker'

          %td
            %label{ :for => "ip" } IP Address
            = text_field_tag "ip", params[:ip]

          %td
            %label{ :for => "user" } User ID
            = text_field_tag "user", params[:user]
        %tr
          %td
            %label{ :for => "auditable_type" } Object Kind
            = text_field_tag "auditable_type", params[:auditable_type]
            %label.Smaller{ :for => "auditable_id" } Object ID
            = text_field_tag "auditable_id", params[:auditable_id]

          %td
            %label{ :for => "event_type" } Event Type
            = text_field_tag :event_type, params[:event_type]

          %td
            %label{ :for => "query" } Message
            = text_field_tag :log, params[:log]

    .FormAction
      = submit_tag "Apply Filter"
      = link_to "Remove Filter", report_admin_audits_path, :class => "Small", :id => "remove-filters" if custom_report_filters_set?

  .ClearFix <!-- do not remove -->

%p#total-audit-display
  Showing
  %strong= @audits.size
  = "of #{AuditEvent.count} total events"
  
#top-report-pagination.Top=will_paginate @audits, :previous_label => "Previous", :next_label => "Next"

.ClearFix <!-- do not remove -->

%table#audit-results.index
  %thead
    %tr
      %th= link_to "Date / Time", :overwrite_params => { :direction => reverse_direction }
      %th= "IP Address"
      %th= "User"
      %th= "Event Type"
      %th= "Message"
  %tbody
    - if @audits.size == 0
      %tr
        %td.Placeholder{ :colspan => 5 }
          %p= "No events that match the criteria exist for this day."
    - else
      -@audits.each do |a|
        %tr
          %td= a.created_at.to_s(:mdy_time)
          %td= a.ip_address
          %td= a.user.nil? ? "(Unknown)" : a.user.login
          %td= a.event_type
          %td= a.log_message

.Bottom= will_paginate @audits, :previous_label => "Previous", :next_label => "Next"