%fieldset#date-filter

  %legend.Invisible Date Filter
    
  -unless @previous_date.nil?
    
    %a{ :href => "#{admin_audits_path}?#{@params_to_pass_for_previous_day}" }
      = image_tag "/images/admin/go_left.gif", :alt => "Previous Day"
      %span= @previous_date.strftime "%b %d, %Y"
    
  =text_field_tag :startdate, @startdate.strftime('%m/%d/%Y'), :class => "AuditDatePicker AutoSubmitField"
    
  -unless @next_date.nil?
    
    %a{ :href => "#{admin_audits_path}?#{@params_to_pass_for_next_day}" }
      %span= @next_date.strftime "%b %d, %Y"
      = image_tag "/images/admin/go_right.gif", :alt => "Next Day"