%h1 Audit Log

%h2= @startdate.strftime("%B %d, %Y")

=render :partial => "date_filter"
=render :partial => "quick_filter"

%table.index
  %thead
    %tr
      %th="Date / Time"
      %th="IP Address"
      %th="User"
      %th="Event Type"
      %th="Message"
  %tbody
    -@audits.each do |a|
      %tr
        %td= a.created_at.to_formatted_s(:db)
        %td= a.ip_address
        %td= a.user.nil? ? "(Unknown)" : a.user.login
        %td= a.event_type
        %td= a.log_message